<div class="col-12 col-md-12 p-3 border-bottom border-start border-end border-secondary text-center fixed-top" style="background-color:black;">
<a title="home rak supermarket minimarket rak toko" class="text-secondary" href="{{ "/" | relative_url }}">Home</a> . 
<a title="pabrik rak" class="text-secondary" href="{{ "/about" | relative_url }}">About</a> . 
<a title="hubungi pabrik rak" class="text-secondary" href="{{ "/contact" | relative_url }}">Contact</a>
<a title="light mode" class="float-end btn btn-light btn-sm text-dark" href="/pabrik.html"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-brightness-low" viewBox="0 0 16 16">
  <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm.5-9.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 11a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm5-5a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm-11 0a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm9.743-4.036a.5.5 0 1 1-.707-.707.5.5 0 0 1 .707.707zm-7.779 7.779a.5.5 0 1 1-.707-.707.5.5 0 0 1 .707.707zm7.072 0a.5.5 0 1 1 .707-.707.5.5 0 0 1-.707.707zM3.757 4.464a.5.5 0 1 1 .707-.707.5.5 0 0 1-.707.707z"/>
</svg></a>
</div>
<div class="masthead-followup row m-0 border border-secondary">
 <h1><a title="{{site.description}}" href="https://raksupermarket.github.io/"><j>{{ site.title }}</j></a></h1>