<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{%- include head.html -%}
<body>
{%- include headhome.html -%}
<!-- {%- include header.html -%} -->
<div class="col-12 col-md-6 p-0 p-md-0 border border-secondary">
<a title="{{ site.home.imgtitle1 }}" href="{{ site.home.imgurl1 }}"><img alt="{{ site.home.imgtitle1 }}" class="img-fluid" src="{{ site.home.img1 }}"></a>
</div>
<div class="col-12 col-md-6 p-0 p-md-0 border border-secondary">
<a title="{{ site.home.imgtitle2 }}" href="{{ site.home.imgurl2 }}"><img alt="{{ site.home.imgtitle2 }}" class="img-fluid" src="{{ site.home.img2 }}"></a>
</div>
<div class="col-12 col-md-4 p-0 p-md-0 border border-secondary">

<a title="{{ site.home.imgtitle3 }}" href="{{ site.home.imgurl3 }}"><img alt="{{ site.home.imgtitle3 }}" class="img-fluid" src="{{ site.home.img3 }}"></a>
</div>
<div class="col-12 col-md-4 p-0 p-md-0 border border-secondary">
<a title="{{ site.home.imgtitle4 }}" href="{{ site.home.imgurl4 }}"><img alt="{{ site.home.imgtitle4 }}" class="img-fluid" src="{{ site.home.img4 }}"></a>
</div>
<div class="col-12 col-md-4 p-0 p-md-0 border border-secondary">
<a title="{{ site.home.imgtitle5 }}" href="{{ site.home.imgurl5 }}"><img alt="{{ site.home.imgtitle5 }}" class="img-fluid" src="{{ site.home.img5 }}"></a>
</div>
{{ content }}
{%- include footer.html -%}